@model IEnumerable<boxAmOffice.Models.Movie>

@{
	Layout = "_Layout";
	ViewData["Title"] = "Home Page";
}

<div class="main">
	<div class="contant text-white">
		<h1 class="display-1">AM <span class="display-4">BOX OFFICE</span></h1>
		<p>A place where you can find movies you love!</p>
		<p>Pick your ticket NOW!</p>
	</div>
</div>
<a class="cinema-btn" asp-controller="Cinemas" asp-action="Index"><i class="bi bi-camera-reels"></i> Cinemas</a>

@*<a href="#movies" class="movies-btn">Checkout Movies</a>*@

<div id="movies" class="movies">
	@foreach (var item in Model)
	{
		<div style=" display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    margin: 50px 30px;">

			<p style="font-size: 20px;
                  color: #eee;">@item.Name</p>

			<p style="color: #eee;">@item.Cinema.Name</p>

			<img src="@item.ImageURL" style="max-width:250px" alt="@item.Name">

			<div>
				<a class="btn btn-outline-primary float-right" asp-controller="Movies" asp-action="Details" asp-route-id="@item.Id">
					<i class="bi bi-eye-fill"></i> Show Details
				</a>
				<a class="btn btn-outline-success " asp-controller="Orders" asp-action="AddItemToShoppingCart" asp-route-id="@item.Id">
					<i class="bi bi-cart-plus"></i> Add to Cart
				</a>
			</div>
		</div>
	}
</div>


<style>
body{
    background-color: #111;
}
nav{
    margin-bottom: 0;
    box-shadow: none !important;
}
.main {
    position: relative;
    display: block;
    width: 100%;
    height: 800px;
    background-image: url("https://3erc1e4bvanrdzas82cngnw1-wpengine.netdna-ssl.com/wp-content/uploads/2021/09/06-movie-reel-GettyImages-1007557230-770.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    bottom: 80px;
}
/* remove the cart from the home page */
.mycart{
    display: none;
}

.contant {
    position: absolute;
    top: 250px;
    right: 200px;
}

/*.movies-btn{
    position:absolute;
    top: 88%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid black;
    padding: 5px 100px;
    background-color: #111;
    color: #eee;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-size: 50px;
    border-radius: 10px;
}*/

.cinema-btn {
    position:absolute;
    top: 480px;
    right: 510px;
    border: 1px solid black;
    padding: 5px 20px;
    background-color: #ccc;
    color: black;
    font-size: 20px;
    border-radius: 5px;
}

.cinema-btn:hover {
    position:absolute;
    text-decoration: none;
    background-color: #111;
    color: white;
    transition: .2s;
}

.movies {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
</style>